.main {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  max-height: 480px;
}
.main-left {
  margin-right: 20px;
  width: 180px;
  background-color: blueviolet;
}
.main-right {
  width: 120px;
  min-height: 380px;
  overflow: hidden;
  text-align: left;
}
.line {
  border: 0;
  height: 1px;
  background: black;
}
